@import '../../styles/queries.scss';
.mainPage {
    max-width: 1440px;
    padding: 0 165px;
    margin: 0 auto;
    color: #363636;
    @include mediaTablet {
        padding: 0 63px;
    }
    @include mediaPhone {
        padding: 0 16px;
    }
    .content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 62px;
    }
    .controlsBlock {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;
        @include mediaTablet {
            margin-bottom: 24px;
        }
        .showButtons {
            display: flex;
            column-gap: 16px;
        }
    }
    .controls {
        display: flex;
    }
}
